
## <summary>policy for voltpotcoin</summary>


########################################
## <summary>
##	Transition to voltpotcoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`voltpotcoin_domtrans',`
	gen_require(`
		type voltpotcoin_t, voltpotcoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, voltpotcoin_exec_t, voltpotcoin_t)
')


########################################
## <summary>
##	Execute voltpotcoin server in the voltpotcoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`voltpotcoin_initrc_domtrans',`
	gen_require(`
		type voltpotcoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, voltpotcoin_initrc_exec_t)
')


########################################
## <summary>
##	Search voltpotcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`voltpotcoin_search_lib',`
	gen_require(`
		type voltpotcoin_var_lib_t;
	')

	allow $1 voltpotcoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read voltpotcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`voltpotcoin_read_lib_files',`
	gen_require(`
		type voltpotcoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, voltpotcoin_var_lib_t, voltpotcoin_var_lib_t)
')

########################################
## <summary>
##	Manage voltpotcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`voltpotcoin_manage_lib_files',`
	gen_require(`
		type voltpotcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, voltpotcoin_var_lib_t, voltpotcoin_var_lib_t)
')

########################################
## <summary>
##	Manage voltpotcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`voltpotcoin_manage_lib_dirs',`
	gen_require(`
		type voltpotcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, voltpotcoin_var_lib_t, voltpotcoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a voltpotcoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`voltpotcoin_admin',`
	gen_require(`
		type voltpotcoin_t;
		type voltpotcoin_initrc_exec_t;
		type voltpotcoin_var_lib_t;
	')

	allow $1 voltpotcoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, voltpotcoin_t)

	voltpotcoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 voltpotcoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, voltpotcoin_var_lib_t)

')

