policy_module(voltpotcoin, 1.100.1)

########################################
#
# Declarations
#

type voltpotcoin_t;
type voltpotcoin_exec_t;
init_daemon_domain(voltpotcoin_t, voltpotcoin_exec_t)

permissive voltpotcoin_t;

type voltpotcoin_initrc_exec_t;
init_script_file(voltpotcoin_initrc_exec_t)

type voltpotcoin_conf_t;
files_type(voltpotcoin_conf_t)

type voltpotcoin_var_lib_t;
files_type(voltpotcoin_var_lib_t)

type voltpotcoin_var_run_t;
files_type(voltpotcoin_var_run_t)

type voltpotcoin_port_t;
corenet_port(voltpotcoin_port_t)

########################################
#
# voltpotcoin local policy
#
allow voltpotcoin_t self:process { fork };

allow voltpotcoin_t self:fifo_file rw_fifo_file_perms;
allow voltpotcoin_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(voltpotcoin_t, voltpotcoin_conf_t, voltpotcoin_conf_t)
manage_files_pattern(voltpotcoin_t, voltpotcoin_conf_t, voltpotcoin_conf_t)

manage_dirs_pattern(voltpotcoin_t, voltpotcoin_var_lib_t, voltpotcoin_var_lib_t)
manage_files_pattern(voltpotcoin_t, voltpotcoin_var_lib_t, voltpotcoin_var_lib_t)
files_var_lib_filetrans(voltpotcoin_t, voltpotcoin_var_lib_t, { dir file })

manage_dirs_pattern(voltpotcoin_t, voltpotcoin_var_run_t, voltpotcoin_var_run_t)
manage_files_pattern(voltpotcoin_t, voltpotcoin_var_run_t, voltpotcoin_var_run_t)

sysnet_dns_name_resolve(voltpotcoin_t)
corenet_all_recvfrom_unlabeled(voltpotcoin_t)

allow voltpotcoin_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(voltpotcoin_t)
corenet_tcp_sendrecv_generic_node(voltpotcoin_t)
corenet_tcp_sendrecv_all_ports(voltpotcoin_t)
corenet_tcp_bind_generic_node(voltpotcoin_t)

gen_require(`
    type voltpotcoin_port_t;
')
allow voltpotcoin_t voltpotcoin_port_t:tcp_socket name_bind;

gen_require(`
    type voltpotcoin_port_t;
')
allow voltpotcoin_t voltpotcoin_port_t:tcp_socket name_connect;

domain_use_interactive_fds(voltpotcoin_t)

files_read_etc_files(voltpotcoin_t)

miscfiles_read_localization(voltpotcoin_t)

sysnet_dns_name_resolve(voltpotcoin_t)

allow voltpotcoin_t voltpotcoin_exec_t:file execute_no_trans;
allow voltpotcoin_t self:process setsched;
corecmd_exec_ls(voltpotcoin_t)
corenet_tcp_connect_http_port(voltpotcoin_t)
dev_read_urand(voltpotcoin_t)
fs_getattr_xattr_fs(voltpotcoin_t)
kernel_read_system_state(voltpotcoin_t)
