# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=VoltPotCoin Core Daemon SNAP
Comment=main
GenericName=VoltPotCoin Digital Currency Daemon Client main network
Exec=voltpotcoin-core.daemon %u
Terminal=true
Type=Application
Icon=${SNAP}/share/pixmaps/voltpotcoin.png
MimeType=x-scheme-handler/vpc;
Categories=X-Office;X-Finance;
Keywords=internet;voltpotcoin;zvpc;core;wallet;daemon;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
